<div class="container portada-container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
            <%= image_tag("logo.png", class: "logo-center") %>
            <h3 class="text-center">Bienvenido al Sistema de Denuncia An&oacute;nima Ambiental</h3>
            <p class="text-center">Tu denuncia es totalmente an&oacute;nima, en ning&uacute;n momento te solicitaremos tu nombre o domicilio. Para generar una denuncia d&aacute; clic en el bot&oacute;n y sigue las instrucciones. Es necesario que permitas detectar tu ubicación para una denuncia precisa.</p>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
            <a href="/reports/new" class="next-btn">Crear denuncia</a>
        </div>
    </div>
</div>

<a href="http://www.spabc.gob.mx/" class="volver-a-sitio"><%= image_tag("left-arrow.svg") %> VOLVER A SITIO PRINCIPAL</a>